<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirection</title>
</head>
<body>

    <form action="/" method="POST">
        <input class="field" name="title" placeholder="Coloque um titulo" value="<%=body.title%>">
        <input class="field" name="description" placeholder="Coloque uma descrição" value="<%=body.description%>">
        <input class="field" name="url" placeholder="Coloque uma URL" value="<%=body.url%>">
        <button>Salvar</button>
    </form>

    <%if(err){%>
        <h3><%=err.message%></h3>
        <%}%>
</body>
</html>